/* CSS */
.dashboard-view {
}

.dashboard-baby {
  /* box-shadow: 1px 1px 1px 1px #ccc */
}

.dashboard-header-side {
  z-index: 999999
}

.dashboard-header {
  width: 100%;
  box-shadow: 1px 1px 1px 1px #f0f0f0;
  z-index: 99999;
  background: #fff
}

li a {
  color: #7a8084;
  text-transform: uppercase;
  font-weight: 900
}

li a.active, li a:hover {
  color: #6edaa1
}




/* ADMIN */
.upload-div {
  border: 3px dashed #7a8084;
  position: relative;
  height: 200px
}

.upload-div p, .upload-div .form-group input {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 8.5%;
}

.upload-div .form-group input {
  opacity: 0;
  cursor: pointer;
}

.upload-div .form-group small {
  position: relative;
  top: 220px
}
