/* CSS */
.dashboard-view {
}

.dashboard-baby {
  /* box-shadow: 1px 1px 1px 1px #ccc */
}

.dashboard-header-side {
  z-index: 999999
}

.dashboard-header {
  width: 100%;
  box-shadow: 1px 1px 1px 1px #f0f0f0;
  z-index: 99999;
  background: #fff
}

.dashboard-header-bottom {
  bottom: 0;
  height: fit-content;
  font-size: 140%
}

li.nav-item a, li.nav-item a i {
  color: #7a8084;
  text-transform: uppercase;
  font-weight: 900
}

li.nav-item a span, li.nav-item a span {
  display: none;
  font-size: 30%;
  color: #6edaa1;
  margin-top: -5px;
  margin-bottom: 5px
}

li.nav-item a.active, li a:hover,
li.nav-item a.active i, li a:hover i {
  color: #6edaa1;
  transform: scale(1.05);
}

li.nav-item a.active span, li a:hover span,
li.nav-item a.active span i, li a:hover span i {
  display: block
}




/* ADMIN */
.upload-div {
  border: 3px dashed #7a8084;
  position: relative;
  height: 200px
}

.upload-div p, .upload-div .form-group input {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 8.5%;
}

.upload-div .form-group input {
  opacity: 0;
  cursor: pointer;
}

.upload-div .form-group small {
  position: relative;
  top: 220px
}
