/* CSS */
* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box !important;
  word-wrap: break-word !important;
  color: #7a8084
}

body, html {
  height: 100%;
}

a {
  text-decoration: none !important;
}

.fixed {
  position: fixed
}

.hide {
  display: none
}

.bg-1 {
  background: #6edaa1;
  color: #fff
}

.bg-2 {
  background: #26333d;
  color: #fff;
}

.color-1 {
  color: #fff;
}

.color-2 {
  color: #7a8084
}

.color-3 {
  color: #6edaa1
}

.color-err {
  color: red
}

.logo {
  font-size: 350%;
  font-weight: 900;
  animation-name: flipInY;
  animation-duration: 2s;
  padding-top: 30px;
  /*animation-iteration-count: infinite;*/
}

.logo-dashboard {
  font-size: 200%;
  padding-top: 0px;
  display: flex
  /*animation-iteration-count: infinite;*/
}

.dummy-link {
  cursor: pointer;
  transition: font-size 0.5s;
}

.dummy-link:hover {
  font-size: 105%
}




/* PAGES */
.page {
  animation-name: fadeIn;
  animation-duration: 1s;
}

.card-columns {
  column-gap: 0;
}

.card-columns .card {
  border-radius: 0;
  margin: 0
}



/* FORMS */
form {
    padding: 5%;
}

 form .form-control {
    border: 1px solid #7a8084;
    background: transparent !important;
    box-shadow: none !important;
    /* padding: 2.5%; */

    transition: transform 0.5s;
}

form .form-control:focus {
    border: 1px solid #6edaa1;
}

form .form-control:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px #fff inset !important;
    -webkit-text-fill-color: #495057 !important;
}

form.form1 .form-control:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px #26333d inset !important;
    -webkit-text-fill-color: #495057 !important;
}

form.form1 .form-control:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff !important;
}

form.form1 .form-control:focus {
    transform: scale(1.05);
    color: #fff;
}

form .btn {
  text-transform: uppercase;
  border: none;

  transition: transform 0.5s;
}

form .btn:hover, form .btn:focus, form .btn:active {
  background: #6edaa1 !important;
  box-shadow: none;
}

form select option {
  text-transform: capitalize;
}

form.form1 .btn:hover {
  transform: scale(1.05);
}

div.sub-msg {
  display: none;
}

div.sub-msg-visible {
  padding: 10px;
  margin-bottom: 0;
  display: block;
  animation-name: fadeInUp;
  animation-duration: 0.5s;
}




/* Media Query */
@media only screen and (min-width: 567px) {
  .logo {
    font-size: 270%;
    padding-top: 0;
  }
  .logo span {
    display: inline !important
  }
}

@media only screen and (min-width: 992px) {

}
